/* ********** Customer Comment ********** */
.comment {
  background: url(/src/images/vectorRectangle.svg), url(/src/images/vectorSplash.svg);
  background-repeat: no-repeat;
  background-position: 0% 60%, 100% 0%;
  background-size: 40%, 60%;
  background-color: var(--primary-color);
  color: var(--text-color-white);
  text-align: center;

  @include mq(m) { background-size: 20%, 15%; }

  // .comment__container
  &__container {
    width: 80%;
    padding: 2em 0;
    margin: auto;
  }

  // .comment__icon
  &__icon {
    width: 10%;
    margin-bottom: 1em;

    @include mq(m) { width: 50px;}
  }

  // .comment__description
  &__description {
    font-family: var(--ligth-font);

    @include mq(m) { font-size: 1.2em; }
  }

  // .comment__item:nth-child(2)
  &__item:nth-child(2) {
    margin-top: 2em;
    font-size: 1em;
  }

  // .comment__name
  &__name { font-family: var(--bold-font); }

  // .comment__business
  &__business {
    font-family: var(--light-font);
    color: var(--text-color-white);
    cursor: pointer;

    &:hover { color: var(--secondary-color); }
  }
}
