/* ********** Customer Comment ********** */
.comments {
  padding: 3em 0;
  min-height: 200px;
  overflow: hidden;
  background: url(/src/images/vectorRectangle.svg), url(/src/images/vectorSplash.svg);
  background-repeat: no-repeat;
  background-position: 0% 60%, 100% 0%;
  background-size: 40%, 60%;
  background-color: var(--primary-color);


  @include mq(m) { background-size: 20%, 15%; }

  // comment__container
  &__container {
    width: 100%;
    text-align: center;
    color: var(--text-color-white);
  }

  // comments__slider
  &__slider {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition: all 0.3s;
    left: 0;

    * { white-space: normal; }

  }

  &__slide {
    width: 100%;
    display: inline-block;
    // margin-right: 10%;
    left: 0;
    right: 0;
  }

  // comments__controls
  &__controls {
    width: 100%;
    height: 20px;
    margin-top: 1.5em;

    // comments__controls ul
    ul {
      width: 100%;
      text-align: center;
      z-index: 10;
    }

    // comments__controls li
    li {
      list-style-type: none;
      background-color: white;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 10px;
      display: inline-block;
      cursor: pointer;

      &:last-child { margin-right: 0; }

      &:hover {
        background-color: var(--secondary-color);
      }

      &.active { background-color: var(--secondary-color) }
    }
  }

  // comment__icon
  &__icon {
    width: 70px;
    margin-bottom: 1em;
  }

  // .comment__testimony
  &__testimony {
    font-family: var(--ligth-font);
    font-style: italic;
    width: 80%;
    margin: 0 auto;

    &::after, &::before {
      content: ' " ';
      color: var(--secondary-color);
      font-family: var(--black-font);
      font-size: 1.1em;
    }

    @include mq(xl) {
      width: 70%;
      font-size: 1.1em;
      line-height: 1.5em;
    }
  }

  // .comment__name
  &__name {
    margin-top: 2em;
    font-family: var(--bold-font);
  }

  // .comment__business
  &__company {
    font-family: var(--light-font);
    color: var(--text-color-white);
    cursor: pointer;

    &:hover { color: var(--secondary-color); }
  }
}
