/* ********** Customer Logo ********** */
.customer {
  width: 80%;
  margin: 2em auto;

  @include mq(xl) { margin: 1em auto; }

  // .customer__container
  &__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;

    @include mq(m) { grid-template-columns: repeat(4,1fr); }
    @include mq(xl) { grid-template-columns: repeat(6,1fr); }
  }

  // .costumer__item
  &__item {
    justify-self: center;
  }

  // .customer__logo
  &__logo {
    padding: 0.5em;
    filter: grayscale(90%);

    &:hover { filter: grayscale(0); }

    @include mq(m) { padding: 1em; }
    @include mq(l) { padding: 0 1em; }
  }
}
