/* ********** Customer Logo ********** */
.customer {
  width: 80%;
  margin: 2em auto;
  text-align: center;

  @include mq(m) { margin: 3em auto; }
  // .customer__title
  &__title {
    text-transform: uppercase;
    font-family: var(--ligth-font);
    font-size: 0.7em;
  }

  // .customer__subtitle
  &__subtitle {
    text-transform: capitalize;
    color: var(--primary-color);
    font-family: var(--bold-font);
    font-size: 1.5em;

    @include mq(l) { font-size: 2em;}
  }

  // .customer__container
  &__container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;

    @include mq(m) { grid-template-columns: repeat(4,1fr); }
    @include mq(xl) { grid-template-columns: repeat(6,1fr); }
  }

  // .costumer__item
  &__item {
    justify-self: center;
  }

  // .customer__logo
  &__logo {
    padding: 0.5em;
    filter: grayscale(90%);

    &:hover { filter: grayscale(0); }

    @include mq(m) { padding: 1em; }
    @include mq(l) { padding: 0 1em; }
  }
}
