/* ********** Main Services ********** */
.main-service {
  width: 80%;
  margin: 2em auto;
  text-align: center;
  background: url(/src/images/services.svg) no-repeat;

  @include mq(m) {
    margin: 3em auto;
    background-position: 100% 100%;
    background-size: 20%;
  }

  @include mq(l) { background-size: 15%; }

  // .main-service__container
  &__container {
    color: var(--text-color-white);

    @include mq(m) {
      margin-top: 1em;
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }

    @include mq(l) { grid-template-columns: repeat(4,1fr);}
  }

  // .main-service__item
  &__item {
    margin: 2em auto;
    width: 80%;

    &:nth-child(3n+1) { background-color: var(--quaternary-color); }
    &:nth-child(3n+2) { background-color: var(--quinary-color); }
    &:nth-child(3n) { background-color: var(--senary-color); }

    @include mq(m) {
      margin: 2em auto 0 auto;
      width: 90%;
    }
  }

  // .main-service__icon
  &__icon {
    width: 40%;
    margin: 2em;
  }

  // .main-service__link
  &__link {
    color: var(--text-color-white);
  }

  // .main-service__name
  &__name {
    padding: 3.5em 0 2em;
    text-transform: uppercase;
    font-family: var(--regular-font);
    font-size: 0.8em;
    width: 80%;
    margin: auto;
  }

  // .main-service__all
  &__all {
    display: block;
    background-color: #da2e4c;
    color: var(--text-color-white);
    border-radius: 3px;
    width: 90%;
    margin: 2em auto;
    padding: 0.5em;
    cursor: pointer;

    &:hover {
      background-color: #fd385b;
    }

    @include mq(m) { margin: 3em auto; width: 50%; }
  }
}
