/* ********** Workflow ********** */
.workflow {
  width: 80%;
  margin: 2em auto;
  text-align: center;
  background: url('/assets/images/workflow.svg') no-repeat;

  @include mq(m) { background-size: 20%;}
  @include mq(l) { width: 100%; background-size: 14%; }
  @include mq(xl) { margin: 3em auto; }

  &__title {
    text-transform: uppercase;
    font-family: var(--ligth-font);
    font-size: 0.7em;
  }

  &__subtitle {
    text-transform: capitalize;
    color: var(--primary-color);
    font-family: var(--bold-font);
    font-size: 1.5em;

    @include mq(l) { font-size: 2em;}
  }

  &__container {
    margin: 2em auto;

    @include mq(m) {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      justify-content: center;
      align-items: start;
      gap: 2em
    }
  }

  &__item { padding: 1em 0; }

  &__step {
    font-family: var(--bold-font);
  }

  &__description {
    padding-top: 1em;
    font-family: var(--ligth-font);
  }

  &__image {
    @include mq(m) { width: 50%; }
  }
}
