section.comment
  .comment__container.l-container
    .comment__item
      img.comment__icon(src="./assets/images/icon-comment.svg", alt="Comentarios de Clientes Satisfechos")
      .comment__description Fue grandioso realizar nuestra plataforma e-learning con el equipo de ErwCode, alcanzamos el objetivo y mejoramos la experiencia de nuestros alumnos.
    .comment__item
      .comment__name Mtro. Joel Paz Ornelas
      a.comment__business(href="https://www.unimilenium.edu.mx", target="_blanck") Centro Universitario Milenium
