.comments
  .comments__container
    .comments__slider
      .comments__slide
          img.comments__icon(src="./assets/images/icon-comment.svg", alt="Comentario de Centro Universitario Milenium")
          p.comments__testimony Entregué el proyecto con los ojos cerrados y el resultado fue mejor de lo que esperaba. En tiempo record y con mucho profesionalismo lograron una landing page con excelente experiencia de usuario y todos los requerimientos para no ser penalizados por Google. Además, se dieron el tiempo de educarnos acerca de estos parámetros. Agradezco mucho la paciencia, dedicación y compromiso que tuvieron con nosotros.
          h4.comments__name Dirección General
          a.comments__company(href="https://oportunos.mx/", target="_blank", rel="follow") Oportunos MX
      .comments__slide
          img.comments__icon(src="./assets/images/icon-comment.svg", alt="Comentario de Centro Universitario Milenium")
          p.comments__testimony Fue grandioso realizar nuestra plataforma e-learning con el equipo de ErwCode, alcanzamos el objetivo y mejoramos la experiencia de nuestros alumnos.
          h4.comments__name Mtro. Joel Paz Ornelas
          a.comments__company(href="https://www.unimilenium.edu.mx", target="_blank", rel="follow") Centro Universitario Milenium
      .comments__slide
          img.comments__icon(src="./assets/images/icon-comment.svg", alt="Comentario de Gonzalez y Asociados")
          p.comments__testimony Estoy agradecida con el proyecto web que realizó ErwCode a mi Bufete Jurídico, su servicio es excelente y siempre atentos para resolver las necesidades que fueron surgiendo.
          h4.comments__name Lic. Giovanna González Abad
          a.comments__company(href="https://gonzalezyasociados.mx", target="_blank", rel="follow") Gonzalez y Asociados | Tax & Law
    .comments__controls #[ul]
