.comments
  .comments__container
    .comments__slider
      .comments__slide
          img.comments__icon(src="./assets/images/icon-comment.svg", alt="Comentario de Centro Universitario Milenium")
          p.comments__testimony Fue grandioso realizar nuestra plataforma e-learning con el equipo de ErwCode, alcanzamos el objetivo y mejoramos la experiencia de nuestros alumnos.
          h4.comments__name Mtro. Joel Paz Ornelas
          a.comments__company(href="https://www.unimilenium.edu.mx", target="_blank", rel="follow") Centro Universitario Milenium
      .comments__slide
          img.comments__icon(src="./assets/images/icon-comment.svg", alt="Comentario de Gonzalez y Asociados")
          p.comments__testimony Estoy agradecida con el proyecto web que realizó ErwCode a mi Bufete Jurídico, su servicio es excelente y siempre atentos para resolver las necesidades que fueron surgiendo.
          h4.comments__name Lic. Giovanna González Abad
          a.comments__company(href="https://gonzalezyasociados.mx", target="_blank", rel="follow") Gonzalez y Asociados | Tax & Law
    .comments__controls #[ul]
