.comments#comments
  .comments__container
    .comments__slider
      .comments__slide
          img(class="comments__icon", loading="lazy", src="/assets/images/icon-comment.svg", alt="Comentario de Centro Universitario Milenium")
          p.comments__testimony Entregué el proyecto con los ojos cerrados y el resultado fue mejor de lo que esperaba. En tiempo record y con mucho profesionalismo lograron nuestro proyecto de TI con excelente UX y todos los requerimientos para no ser penalizados por Google.
          h4.comments__name Dirección General
          a(class="comments__company", href="https://oportunos.mx/", target="_blank", rel="follow noopener noreferrer") Oportunos MX
      .comments__slide
          img(class="comments__icon", loading="lazy", src="/assets/images/icon-comment.svg", alt="Comentario de Centro Universitario Milenium")
          p.comments__testimony Fue grandioso realizar nuestro Website y Plataforma e-learning con el equipo de ErwCode, alcanzamos el objetivo y mejoramos la experiencia de nuestros alumnos. Agradezco mucho la paciencia, dedicación y compromiso que tuvieron con nosotros.
          h4.comments__name Mtro. Daniel Huerta Tapia
          a(class="comments__company", href="https://www.unimilenium.edu.mx", target="_blank", rel="follow noopener noreferrer") Centro Universitario Milenium
      .comments__slide
          img(class="comments__icon", loading="lazy", src="/assets/images/icon-comment.svg", alt="Comentario de Gonzalez y Asociados")
          p.comments__testimony Estoy agradecida con el proyecto web que realizó ErwCode a mi Bufete Jurídico, su servicio es excelente y siempre atentos para resolver las necesidades que fueron surgiendo durante el proceso de desarrollo y despliegue de mi Página Web.
          h4.comments__name Lic. Giovanna González Abad
          a(class="comments__company", href="https://gonzalezyasociados.mx", target="_blank", rel="follow noopener noreferrer") Gonzalez y Asociados | Tax & Law
    .comments__controls #[ul]
