article.sms
  .sms__container.l-container
    .sms__item
      h3.sms__message Comienza a implementar #[span Tecnología] & #[span Marketing Digital] en tu Empresa.
    .sms__item
      form.sms-form(action="#", method="POST")
        .sms-form__item
          input(class="form__input sms__input", id="smsName", type="text", name="text", required)
          label(class="sms__label", for="smsName") Escribe tu Nombre
        .sms-form__item
          input(class="form__input sms__input", id="smsEmail" type="email", name="email", required)
          label(class="sms__label", for="smsEmail") Correo Electrónico
          input(class="sms-form__submit", type="image", src="/assets/images/right-arrow.svg", alt="Formulario de Noticias ErwCode")
