article.sms
  .sms__container.l-container
    .sms__item
      h3.sms__message Comienza a implementar #[span Tecnología] & #[span Marketing Digital] en tu Empresa.
    .sms__item
      form.sms-form(action="#", method="POST")
        .sms-form__item
          input.form__input(type="text", name="text", placeholder="Escribe tu nombre", required)
        .sms-form__item
          input.form__input(type="email", name="email", placeholder="Correo Electrónico", required)
          input.sms-form__submit(type="image", src="/assets/images/right-arrow.svg", alt="Formulario de Noticias ErwCode")
