aside.customer#customer
  h3.customer__title Sinergia Empresarial
  span.customer__subtitle Ellos han confiado en nosotros
  .customer__container.l-container
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-sacamo.svg", alt="SACAMO")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-jcdecaux.svg", alt="JCDecaux Mexico")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-oportunos.svg", alt="OPORTUNOS.MX")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-unimilenium.svg", alt="Centro Universitario Milenium")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-bajatuseguro.svg", alt="Bajatuseguro.com")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-gonzalez.svg", alt="Gonzalez y Asociados")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-atope.svg", alt="Construyendo ATOPE")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-nursely.svg", alt="Nursely")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-tusOfertias.svg", alt="tusOfertias")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-tepole.svg", alt="Pedro Tepole | Partido Verde")
    .customer__item: img(class="customer__logo", loading="lazy", src="/assets/images/logo-dt.svg", alt="Directorio Tehuacán")
