.expertise
  .expertise__container.l-container
    .expertise__item
      h3.expertise__data #[span 2] #[br] Años de experiencia
    .expertise__item
      h3.expertise__data #[span 15] #[br] Proyectos realizados
    .expertise__item
      h3.expertise__data #[span 8] #[br] Clientes satisfechos
    .expertise__item
      h3.expertise__data #[span 10] #[br] Empresas innovando
