footer.footer
  .footer-container.l-container
    .footer__item
      img.footer__logo(src="./assets/images/imagotipo-main-white.svg", alt="Centro Universitario Milenium")
      .footer__contact Tehuacán, Puebla; México
      a.footer__contactLink(href="tel:01 238 147 1468") 01 (238) 147 1468
      a.footer__contactLink(href="mailto:contacto@erwcode.com") contacto@erwcode.com
    .footer__item
      h2.footer__title Enlaces
      a.footer__link(href="/") Inicio
      a.footer__link(href="nosotros.html") Nosotros
      a.footer__link(href="servicios.html") Servicios
      a.footer__link(href="#") Portafolio
      a.footer__link(href="#") Blog
      a.footer__link(href="#") Contacto
    .footer__item
      h2.footer__title SOCIALES
      a.footer__link(href="https://www.facebook.com/erwcode", target="_blank") Facebook
      a.footer__link(href="https://www.instagram.com/erwcode", target="_blank") Instagram
      a.footer__link(href="https://www.linkedin.com/company/erwcode", target="_blank") LinkedIn
      a.footer__link(href="https://github.com/erwcode", target="_blank") GitHub
      a.footer__link(href="https://wa.me/5212381471468", target="_blank") WhatsApp
    .footer__item
      h2.footer__title Ayuda
      a.footer__link(href="#") FAQ's
      a.footer__link(href="#") Privacidad
    .footer__item
      .footer__copy
        h4.footer__brand #[span ErwCode Technologies © 2019] Todos los derechos reservados.
        .footer__social
          a(href="https://www.facebook.com/erwcode", target="_blank")
            img.footer__iconSocial(src="./assets/images/facebook.svg", alt="Facebook ErwCode")
          a(href="https://www.instagram.com/erwcode", target="_blank")
            img.footer__iconSocial(src="./assets/images/instagram.svg", alt="Instagram ErwCode")
          a(href="https://www.linkedin.com/company/erwcode", target="_blank")
            img.footer__iconSocial(src="./assets/images/linkedin.svg", alt="LinkedIn ErwCode")
