a(href="/"): img.logo(src="./assets/images/imagotipo-horizont-white.svg", alt="ErwCode Technologies")
header.main-header
  input.toggler(type="checkbox")
  .hamburger: span
  .open-menu
    .open-menu__container.l-container
      a(href="/"): img.logo-menu(src="./assets/images/imagotipo-horizont-white.svg", alt="ErwCode Technologies")
      nav.nav-container#menu
        ul.nav-menu
          li.nav-menu__item
            a.nav-menu__link(href="/") Inicio
          li.nav-menu__item
            a.nav-menu__link(href="nosotros.html") Nosotros
          li.nav-menu__item
            a.nav-menu__link(href="servicios.html") Servicios
          li.nav-menu__item
            a.nav-menu__link(href="#") Portafolio
          li.nav-menu__item
            a.nav-menu__link(href="#") Blog
          li.nav-menu__item
            a.nav-menu__link(href="#") Contacto
          li.nav-menu__item
            a.nav-menu__link.nav-menu__link--login(href="#") Iniciar sesión
