header.header#header
  .header__container.l-container
    a(class="header__link", href="/"): img(class="header__logo", loading="lazy", src="/assets/images/imagotipo-horizont-white.svg", alt="ErwCode Technologies")
    input(class="toggler", type="checkbox")
    .hamburger: span
    nav.menu#menu
      ul.menu__container
        li.menu__item
          a.menu__link(href="/") Home
        li.menu__item
          a.menu__link(href="nosotros.html") Nosotros
        li.menu__item
          a.menu__link(href="servicios.html") Servicios
        li.menu__item
          a.menu__link(href="portafolio.html") Portafolio
        li.menu__item
          a.menu__link(href="blog.html") Blog
        li.menu__item
          a.menu__link(href="contacto.html") Contacto
        li.menu__item
          a.menu__link(href="#") Inicia Sesión
