section.newsletter
  .newsletter__container.l-container
    .newsletter__item
      h3.newsletter__message Comienza una nueva generación en tu Empresa
    .newsletter__item
      form.newsletter-form(action="#", method="POST")
        .newsletter-form__item
          input.form__input(type="email", name="email", placeholder="Correo Electrónico", required)
        .newsletter-form__item
          input.newsletter-form__submit(type="image", src="./assets/images/right-arrow.svg", alt="Formulario de Noticias ErwCode")
