/* ********** Averta ********** */
@font-face {
  font-family: 'Averta Light';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Averta Light'), url('/assets/fonts/Averta_Light.woff') format('woff');
}

@font-face {
  font-family: 'Averta Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Averta Regular'), url('/assets/fonts/Averta.woff') format('woff');
}

@font-face {
  font-family: 'Averta Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Averta Bold'), url('/assets/fonts/Averta_Bold.woff') format('woff');
}

@font-face {
  font-family: 'Averta Black';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Averta Black'), url('/assets/fonts/Averta_Black.woff') format('woff');
}
