/* ********** Custom Properties ********** */
:root {
  --ligth-font: 'Averta Light';
  --regular-font: 'Averta Regular';
  --bold-font: 'Averta Bold';
  --black-font: 'Averta Black';
  --font-size: 16px;
  --line-height: 1.6;

  --primary-color:      #0C3455;
  --primary-color-dark: #082C34;
  --secondary-color:    #00ABFF;
  --tertiary-color:     #3088F4;
  --quaternary-color:   #2466B7;
  --quinary-color:      #1E5599;
  --senary-color:       #18447A;


  --text-color-black: #000;
  --text-color-white: #FFF;

  --z-down:   25;
  --z-middle: 50;
  --z-up:     75;
  --z-above:  100;
}

/* ********** Breakpoints ********** */
$breakpoints: (
  xs: 30em, /* 480 / 16  */
  s:  37.5em, /* 600 / 16  */
  m:  45em, /* 720 / 16 */
  l:  64em, /* 1024 / 16 */
  xl: 75em /* 1200/ 16 */
);
