extends ../template.pug
append variables
  - pageTitle       = 'Blog'
  - metaDescription = 'Disfruta del contenido que creamos semanalmente y forma parte de esta comunidad digital.'
  - ogTitle         = 'Blog'
  - ogDescription   = 'Disfruta del contenido que creamos semanalmente y forma parte de esta comunidad digital.'
  - ogUrl           = 'https://erwcode.com/blog'
  - ogImage         = 'https://erwcode.com/assets/images/erwcode.jpg'

block body

