extends ../template.pug
append variables
  - pageTitle       = 'Contacto'
  - metaDescription = 'Estamos muy emocionados de poder conocerte y comenzar a desarrollar proyectos increíbles.'
  - ogTitle         = 'Contacto'
  - ogDescription   = 'Estamos muy emocionados de poder conocerte y comenzar a desarrollar proyectos increíbles.'
  - ogUrl           = 'https://erwcode.com/contacto.html'
  - ogImage         = 'https://erwcode.com/assets/images/erwcode.jpg'

block body
