extends ../template.pug
append variables
  - pageTitle       = 'Contacto'
  - metaDescription = 'Estamos muy emocionados de poder conocerte y comenzar a desarrollar proyectos increíbles.'
  - ogTitle         = 'Contacto'
  - ogDescription   = 'Estamos muy emocionados de poder conocerte y comenzar a desarrollar proyectos increíbles.'
  - ogUrl           = 'https://erwcode.com/contacto.html'
  - ogImage         = 'https://erwcode.com/assets/images/erwcode.jpg'

block body
  //- Hero Section Contact
  section.hero-image
    .hero-image__vector
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-image__title.hero-image__title--portfolio Contáctanos 🚀
        p.hero-image__description Estamos #[span muy emocionados] 🎉 de poder conocerte y comenzar a desarrollar #[span soluciones increíbles] 💯 para tu empresa.
      .hero-image__item
        img(class="hero-image__illustration", loading="lazy", src="./assets/images/contact.svg", alt="Contácta a ErwCode")
    .mouse-scroll.l-container
      img(class="mouse-scroll__icon", loading="lazy", src="./assets/images/mouse.svg", alt="Mouse Scroll")
