extends ../template.pug
append variables
  - pageTitle       = 'Contacto'
  - metaDescription = 'Estamos muy emocionados de poder conocerte y comenzar a desarrollar proyectos increíbles.'
  - ogTitle         = 'Contacto'
  - ogDescription   = 'Estamos muy emocionados de poder conocerte y comenzar a desarrollar proyectos increíbles.'
  - ogUrl           = 'https://erwcode.com/contacto.html'
  - ogImage         = 'https://erwcode.com/assets/images/erwcode.jpg'

block body
  //- Hero Section Contact
  section.hero-image
    .hero-image__vector
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-image__title.hero-image__title--portfolio Contáctanos 🚀
        p.hero-image__description Estamos #[span muy emocionados] 🎉 de poder conocerte y comenzar a desarrollar #[span soluciones increíbles] 💯 para tu empresa.
      .hero-image__item
        img(class="hero-image__illustration", loading="lazy", src="./assets/images/contact.svg", alt="Contácta a ErwCode")
    .mouse-scroll.l-container
      img(class="mouse-scroll__icon", loading="lazy", src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Contact Form
  section.contact
    .contact__container.l-container
      .contact__item
        h2.contact__message Llena el siguiente #[span Formulario]
        form(class="contact-form", id="contactForm", action="#", method="POST")
          .contact-form__item
            input(class="form__input contact__input", id="contactName", type="text", name="text", required)
            label(class="contact__label", for="contactName") Nombre Completo
          .contact-form__item
            input(class="form__input contact__input", id="contactEmail", type="email", name="email", required)
            label(class="contact__label", for="contactEmail") Email
          .contact-form__item
            input(class="form__input contact__input", id="contactPhone", type="tel", name="email", required)
            label(class="contact__label", for="contactPhone") Teléfono
          .contact-form__item
            input(class="form__input contact__input", id="contactCompany", type="text", name="text", required)
            label(class="contact__label", for="contactCompany") Empresa
          .contact-form__item.select-container
            select(class="form__input contact__input", id="contactService", name="servicio", required)
              option(value="")
              option(value="service-01") Servicios de TI.
              option(value="service-02") Servicios de Marketing Digital.
              option(value="service-03") Contactar para una conferencia.
              option(value="service-03") Realizar una colaboración.
            label(class="contact__label", for="contactService") Me interesa:
          .contact-form__item
            textarea(class="form__input contact__input contact__text", id="contactText", name="mensaje", rows="10" cols="50", required)
            label(class="contact__label", for="contactText") Cuentanos más:
          .contact-form__item
            input(class="contact__submit", type="submit", value="Contacta ahora")
  //- Customers Logo
  include ../includes/customer.pug
