extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'Empresa Mexicana de TI que est치 comprometida en crear soluciones de valor implementando Software de calidad y estrategias de Marketing Digital.'
  - metaKeywords    = 'ErwCode, Marketing Digital, Community Manager en Tehuac치n, P치ginas web en Tehuac치n, Dise침o y Desarrollo de P치ginas Web, Software a la medida, Software serio, Design Thinking, SCRUM, Sprint, ErwCode Technologies, Empresas de p치ginas web en Puebla y Tehuac치n, Recorridos Virtuales'
  - ogTitle         = 'Home'
  - ogDescription   = 'Empresa Mexicana de TI que est치 comprometida en crear soluciones de valor implementando Software de calidad y estrategias de Marketing Digital.'
  - ogUrl           = 'https://erwcode.com'
  - ogImage         = 'https://erwcode.com/assets/images/erwcode.jpg'

block body
  //- Hero Image
  section.hero-image
    .hero-image__vector
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-image__title Tecnolog칤as de la Informaci칩n & Marketing Digital _
        p.hero-image__description
          | Transforma tu empresa en algo extraordinario 游댠, en #[span ErwCode] contamos con el #[span expertise] que necesita
          | tu negocio para llegar al siguiente nivel, implementa #[span tecnolog칤as de vanguardia] y s칠 un referente de tu 치rea.
          | 춰El momento es ahora! 游꿢
        a(class="hero-image__btn", href="#") Cotizar Proyecto
      .hero-image__item
        img(class="hero-image__illustration", loading="lazy", src="./assets/images/programmer.svg", alt="Programando en ErwCode")
    .mouse-scroll.l-container
      img(class="mouse-scroll__icon", loading="lazy", src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Workflow Section
  section.workflow.l-container
    h2.workflow__title As칤 es como trabajamos
    span.workflow__subtitle Tres simples pasos para comenzar un proyecto
    .workflow__container
      .workflow__item
        h3.workflow__step Research Project
        p.workflow__description Obtenemos con tu ayuda toda la informaci칩n que se necesita para poder materializar tu idea de negocio.
      .workflow__item
        h3.workflow__step Targeting
        p.workflow__description Analizamos e interpretamos los requerimientos de tu proyecto para implementar la correcta metodolog칤a.
      .workflow__item
        h3.workflow__step Deployment
        p.workflow__description Cada requerimiento es desarrollado y testeado para entregarte un proyecto que conecte con tu comunidad.
    img(class="workflow__image", loading="lazy", src="./assets/images/mobile.svg", alt="Flujo de Trabajo en ErwCode")

  //- Customer Comments Section
  include ../includes/comments.pug

  //- Main Services Section
  section.main-service
    h2.workflow__title nuestros servicios m치s populares
    h3.workflow__subtitle Tecnolog칤as de la Informaci칩n y Marketing Digital para tu empresa
    .main-service__container.l-container
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/desarrollo-web.svg", alt="Desarrollo Web")
        a.main-service__link(href="#"): h3.main-service__name Desarrollo Web
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/community-manager.svg", alt="Community Manager")
        a.main-service__link(href="#"): h3.main-service__name Community Manager
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/desarrollo-apps-web.svg", alt="Desarrollo de Aplicaciones Web")
        a.main-service__link(href="#"): h3.main-service__name Desarrollo de Aplicacoines Web
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/ui-ux.svg", alt="Dise침o UI/UX")
        a.main-service__link(href="#"): h3.main-service__name Dise침o UI/UX
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/auditoria-seo.svg", alt="Auditor칤a SEO")
        a.main-service__link(href="#"): h3.main-service__name Auditor칤a SEO
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/posicionamiento-seo.svg", alt="Posicionamiento SEO")
        a.main-service__link(href="#"): h3.main-service__name Posicionamiento SEO
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/landing-page.svg", alt="Landing Page")
        a.main-service__link(href="#"): h3.main-service__name Landing Page
    a.main-service__all(href="servicios.html") Mostrar m치s

  //- Newsletter Section
  include ../includes/newsletter.pug

  //- Customers Logo
  include ../includes/customer.pug
