extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'Somos una empresa Mexicana de TI que está comprometida en crear soluciones de valor implementando Software de calidad y estategías de Marketing Migital.'
  - metaKeywords    = 'ErwCode, Marketing Digital, Community Manager en Tehuacán, Páginas web en Tehuacán, Diseño y Desarrollo de Páginas Web, Software a la medida, Software serio, Design Thinking, SCRUM, Sprint, ErwCode Technologies, Empresas de páginas web en Puebla y Tehuacán, Recorridos Virtuales'

block body
