extends ../template.pug
append variables
  - pageTitle       = 'Home'
  - metaDescription = 'Somos una empresa Mexicana de TI que está comprometida en crear soluciones de valor implementando Software de calidad y estategías de Marketing Migital.'
  - metaKeywords    = 'ErwCode, Marketing Digital, Community Manager en Tehuacán, Páginas web en Tehuacán, Diseño y Desarrollo de Páginas Web, Software a la medida, Software serio, Design Thinking, SCRUM, Sprint, ErwCode Technologies, Empresas de páginas web en Puebla y Tehuacán, Recorridos Virtuales'

block body
  //- Hero Image
  section.hero-image
    .hero-image__vector
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-image__title Tecnologías de la Información & Marketing Digital _
        p.hero-image__description
          | Transforma tu empresa en algo extraordinario 🔥, en #[span ErwCode] contamos con el #[span expertise] que necesita
          | tu negocio para llegar al siguiente nivel, implementa #[span tecnología de vanguardia] y sé un referente de tu área.#[br]
          | ¡El momento es ahora! 🎯
        a.hero-image__btn(href="#") Iniciar Proyecto
      .hero-image__item
        img.hero-image__illustration(src="./assets/images/programmer.svg", alt="Programando en ErwCode")
    .mouse-scroll.l-container
      img.mouse-scroll__icon(src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Workflow Section
  section.workflow.l-container
    h2.workflow__title Así es como trabajamos
    h3.workflow__subtitle Tres simples pasos para comenzar un proyecto
    .workflow__container
      .workflow__item
        h3.workflow__step Research Project
        p.workflow__description Trabajamos contigo para obtener toda la información que se necesita para poder proyectar tu idea.
      .workflow__item
        h3.workflow__step Targeting
        p.workflow__description Analizamos e interpretamos contigo los requerimientos del proyecto para implementar la correcta metodología de trabajo.
      .workflow__item
        h3.workflow__step Impementation
        p.workflow__description No hay mejor que un cliente feliz, por eso, cada proyecto es tratado es aplicado y motitoreado para tener éxito.
    img.workflow__image(src="./assets/images/mobile.svg", alt="Flujo de Trabajo en ErwCode")
