extends ../template.pug
append variables
  - pageTitle       = 'Nosotros'
  - metaDescription = 'Nuestra filosofía organizacional está enfocada en ayudar a que las empresas implementen soluciones tecnológicas de calidad para que sigan creciendo.'
  - metaKeywords    = 'ErwCode Technologies, ErwCode, Soluciones tecnológicas de calidad, Empresas emprendedoras, Forbes, Equipo de ErwCode, Filosofía de ErwCode'

block body

  //- Footer Section
  include ../includes/footer.pug
