extends ../template.pug
append variables
  - pageTitle       = 'Nosotros'
  - metaDescription = 'Nuestra filosof铆a organizacional est谩 enfocada en ayudar a que las empresas implementen soluciones tecnol贸gicas de calidad para que sigan creciendo.'
  - metaKeywords    = 'ErwCode Technologies, ErwCode, Soluciones tecnol贸gicas de calidad, Empresas emprendedoras, Forbes, Equipo de ErwCode, Filosof铆a de ErwCode'

block body
  //- Hero Video Section
  section.hero-video
    .hero-video__fullscreen
      video(src="./assets/media/sketching.mp4" autoplay loop)
    .hero-video__overlay
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-video__title ErwCode Technologies
        p.hero-video__description
          | Somos un #[span emprendimiento mexicano]  100% remoto con una s贸lida experiencia
          | en #[span TI]  y #[span Marketing Digital] Р.
    .mouse-scroll.l-container
      img.mouse-scroll__icon(src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Our Story Section
  section.our-story
    .our-story__container.l-container
      .our-story__item
        h2.our-story__title Nuestra Historia
        p.our-story__description
          | #[span ErwCode] data desde finales del a帽o 2017, cuando en busca de ayudar a que las empresas
          | implementaran #[span soluciones tecnol贸gicas] en sus procesos para controlar y optimizar sus tiempos,
          | se crea un #[span equipo de especialistas] en desarrollo de software y marketing.#[br]#[br]
          | Partiendo de esto, hemos participado en la creaci贸n e implementaci贸n de #[span tecnolog铆as de la informaci贸n] y #[span marketing digital]
          | en los diferentes sectores pol铆ticos, empresariales, educativos y de salud en M茅xico.
      .our-story__item
        img.our-story__photo(src="./assets/images/realidad-aumentada.jpg", alt="Nuestra Historia ErwCode")

  //- Expertise Section
  include ../includes/expertise.pug

  //- Footer Section
  include ../includes/footer.pug
