extends ../template.pug
append variables
  - pageTitle       = 'Nosotros'
  - metaDescription = 'Nuestra filosof铆a organizacional est谩 enfocada en ayudar a que las empresas implementen soluciones tecnol贸gicas de calidad para que sigan creciendo.'
  - metaKeywords    = 'ErwCode Technologies, ErwCode, Soluciones tecnol贸gicas de calidad, Empresas emprendedoras, Forbes, Equipo de ErwCode, Filosof铆a de ErwCode'

block body
  //- Hero Video Section
  section.hero-video
    .hero-video__fullscreen
      video(src="./assets/media/sketching.mp4" autoplay loop)
    .hero-video__overlay
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-video__title ErwCode Technologies
        p.hero-video__description
          | Somos un #[span emprendimiento mexicano]  100% remoto con una s贸lida experiencia
          | en #[span TI]  y #[span Marketing Digital] Р.
    .mouse-scroll.l-container
      img.mouse-scroll__icon(src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Our Story Section
  section.our-story
    .our-story__container.l-container
      .our-story__item
        h2.our-story__title Nuestra Historia
        p.our-story__description
          | #[span ErwCode] data desde finales del a帽o 2017, cuando en busca de ayudar a que las empresas
          | implementaran #[span soluciones tecnol贸gicas] en sus procesos para controlar y optimizar sus tiempos,
          | se crea un #[span equipo de especialistas] en desarrollo de software y marketing.#[br]#[br]
          | Partiendo de esto, hemos participado en la creaci贸n e implementaci贸n de #[span tecnolog铆as de la informaci贸n] y #[span marketing digital]
          | en los diferentes sectores pol铆ticos, empresariales, educativos y de salud en M茅xico.
      .our-story__item
        img.our-story__photo(src="./assets/images/realidad-aumentada.jpg", alt="Nuestra Historia ErwCode")

  //- Expertise Section
  include ../includes/expertise.pug

  //- Philosophy Section
  section.philosophy
    .philosophy__container.l-container
      article.philosophy__content
        .philosophy__item
          h2.philosophy__title Misi贸n
          p.philosophy__description
            | Creamos #[span soluciones de valor] que te permiten conectar y trascender con tus clientes,
            | mediante la correcta implementaci贸n de #[span software de calidad] y #[span estrat茅gias de marketing digital]
            | que se adapten a las necesidades de tu empresa.
        .philosophy__item
          img.philosophy__photo(src="./assets/images/chico-programando.jpg", alt="Misi贸n ErwCode")

      article.philosophy__content
        .philosophy__item
          h2.philosophy__title Visi贸n
          p.philosophy__description
            | Ser una #[span empresa l铆der de Tecnolog铆as de la Informaci贸n], reconocida por los distintos sectores
            | de M茅xico debido a su #[span constante innovaci贸n] en la b煤squeda y aplicaci贸n de soluciones tecnol贸gicas
            | que permitan el #[span crecimiento exponencial de empresas] en nuestro pa铆s.
        .philosophy__item
          img.philosophy__photo(src="./assets/images/oficina-team.jpg", alt="Visi贸n ErwCode")

  //- Values Section
  .value
    .value__container.l-container
      .value__item
        img.value__icon(src="./assets/images/liderazgo.svg", alt="Liderazgo")
        p.value__description #[span Liderazgo] en trabajar para hacer un mundo mejor.
      .value__item
        img.value__icon(src="./assets/images/colaboracion.svg", alt="Colaboraci贸n")
        p.value__description #[span Colaboraci贸n] para potenciar el talento colectivo.
      .value__item
        img.value__icon(src="./assets/images/compromiso.svg", alt="Compromiso")
        p.value__description #[span Compromiso] con nuestros ideales y nuestros clientes.
      .value__item
        img.value__icon(src="./assets/images/calidad.svg", alt="Calidad")
        p.value__description #[span Calidad] siempre en b煤squeda de la excelencia.
      .value__item
        img.value__icon(src="./assets/images/pasion.svg", alt="Pasi贸n")
        p.value__description #[span Pasi贸n] al estar comprometidos con el coraz贸n y la mente.

  //- Team Section
  section.main-service
    h2.workflow__title Nuestro Equipo
    h3.workflow__subtitle Experiencia, Profesionalismo y Mucho Caf茅
  //- Footer Section
  include ../includes/footer.pug
