extends ../template.pug
append variables
  - pageTitle       = 'Nosotros'
  - metaDescription = 'Nuestra filosof칤a organizacional est치 enfocada en ayudar a que las empresas implementen soluciones tecnol칩gicas de calidad para que sigan creciendo.'
  - metaKeywords    = 'ErwCode Technologies, ErwCode, Soluciones tecnol칩gicas de calidad, Empresas emprendedoras, Forbes, Equipo de ErwCode, Filosof칤a de ErwCode'

block body
  //- Hero Video Section
  section.hero-video
    .hero-video__fullscreen
      video(src="./assets/media/sketching.mp4" autoplay loop)
    .hero-video__overlay
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-video__title ErwCode Technologies
        p.hero-video__description
          | Somos un #[span emprendimiento mexicano] 游꺗 100% remoto con una s칩lida experiencia
          | en #[span TI] 游뱄 y #[span Marketing Digital] 游.
    .mouse-scroll.l-container
      img.mouse-scroll__icon(src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Footer Section
  include ../includes/footer.pug
