extends ../template.pug
append variables
  - pageTitle       = 'Portafolio'
  - metaDescription = 'Hemos participado en la creación e implementación de tecnologías de la información y marketing digital en los diferentes sectores políticos, empresariales, educativos y de salud en México.'
  - ogTitle         = 'Portafolio'
  - ogDescription   = 'Hemos participado en la creación e implementación de tecnologías de la información y marketing digital en los diferentes sectores políticos, empresariales, educativos y de salud en México.'
  - ogUrl           = 'https://erwcode.com'
  - ogImage         = 'https://erwcode.com/assets/images/erwcode.jpg'

block body
  //- Hero Section
  section.hero-image
    .hero-image__vector
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-image__title.hero-image__title--portfolio Nuestro #[span Portafolio] 👨‍🚀👩‍🚀
        p.hero-image__description
          | Transformamos las grande ideas 💡 en productos sorprendentes 🏆 que te permiten conectar
          | con tu comunidad y seguir creciendo 🔥.
        a.hero-image__btn(href="#") Iniciar Proyecto
      .hero-image__item
        img.hero-image__illustration(src="./assets/images/laptop.svg", alt="Portafolio de ErwCode")
    .mouse-scroll.l-container
      img.mouse-scroll__icon(src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Workflow Section
  section.portfolio.l-container
    h2.workflow__title Conoce nuestro portafolio
    h3.workflow__subtitle Software, Web, Apps, Marketing, SEO
    .portfolio__container
      article.portfolio__item
        .portfolio__image.portfolio__image--monline
        h3.portfolio__title Centro Universitario Milenium #[br] #[span Plataforma] #[hr.portfolio__line]
        p.portfolio__description
          | La Universidad que va contigo, el docente y el alumno no se encuentran en el mismo espacio y tiempo,
          | lo que supone nuevos retos y enfoques innovadores a través de un LMS.
      article.portfolio__item
        .portfolio__image.portfolio__image--milenium
        h3.portfolio__title Centro Universitario Milenium #[br] #[span Website] #[hr.portfolio__line]
        p.portfolio__description
          | Universidad que ofrece diferentes alternativas para tu educación profesional, con calidad,
          | valores y resultados que podrás en práctica desde tu primer día.
      article.portfolio__item
        .portfolio__image.portfolio__image--atope
        h3.portfolio__title Construyendo ATOPE #[br] #[span Website] #[hr.portfolio__line]
        p.portfolio__description
          | Empresa dedicada a diseñar, remodelar, reparar y transformar espacios,
          | brindando soluciones funcionales, innovadoras e integrales a viviendas públicas y privadas.
      article.portfolio__item
        .portfolio__image.portfolio__image--gonzalez
        h3.portfolio__title González y Asociados #[br] #[span Website] #[hr.portfolio__line]
        p.portfolio__description
          | Firma joven e innovadora en México, buscan destacar por su
          | profesionalismo y compromiso, prestando servicios jurídicos y legales en CDMX y Puebla.
      article.portfolio__item
        .portfolio__image.portfolio__image--sacamo
        h3.portfolio__title SACAMO #[br] #[span Community Manager] #[hr.portfolio__line]
        p.portfolio__description
          | Salvador Cababie Moro es un empresario, hombre de negocios, emprendedor desde los 15 años,
          | ha logrado materializar sus ideas en proyectos exitosos.
      article.portfolio__item
        .portfolio__image.portfolio__image--tepole
        h3.portfolio__title Campaña Partido Verde #[br] #[span Plataforma] #[hr.portfolio__line]
        p.portfolio__description
          | CRM para el candidato Pedro Tepole Hernández, con el cual administra
          | las actividades dentro de su campaña política, mostrando reportes gráficos y análisis estadístico.
      article.portfolio__item
        .portfolio__image.portfolio__image--llantas
        h3.portfolio__title Llantas y Rines #[br] #[span UI/UX] #[hr.portfolio__line]
        p.portfolio__description
          | Llantas y Rines en Puebla fue un proyecto que tenía como objetivo brindar soluciones
          | a personas que necesitaban asesoría o mantenimiento a sus automóviles.
      article.portfolio__item
        .portfolio__image.portfolio__image--directorio
        h3.portfolio__title Directorio Tehuacán #[br] #[span Plataforma] #[hr.portfolio__line]
        p.portfolio__description
          | El sistema permite que las personas puedan buscar cualquier negocio desde la comodidad de su hogar,
          | implementando WooCommerce y la API de Google Maps.

  //- Newsletter Section
  include ../includes/newsletter.pug

  //- Customers Logo
  include ../includes/customer.pug
