extends ../template.pug
append variables
  - pageTitle       = 'Portafolio'
  - metaDescription = 'Hemos participado en la creaci贸n e implementaci贸n de tecnolog铆as de la informaci贸n y marketing digital en los diferentes sectores pol铆ticos, empresariales, educativos y de salud en M茅xico.'
  - ogTitle         = 'Portafolio'
  - ogDescription   = 'Hemos participado en la creaci贸n e implementaci贸n de tecnolog铆as de la informaci贸n y marketing digital en los diferentes sectores pol铆ticos, empresariales, educativos y de salud en M茅xico.'
  - ogUrl           = 'https://erwcode.com'
  - ogImage         = 'https://erwcode.com/assets/images/portafolio.jpg'

block body
  //- Hero Section
  section.hero-image
    .hero-image__vector
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-image__title.hero-image__title--portfolio Nuestro #[span Portafolio] ㄢ┾
        p.hero-image__description
          | Transformamos las grande ideas  en productos sorprendentes  que te permiten conectar
          | con tu comunidad y seguir creciendo .
        a.hero-image__btn(href="#") Iniciar Proyecto
      .hero-image__item
        img.hero-image__illustration(src="./assets/images/laptop.svg", alt="Portafolio de ErwCode")
    .mouse-scroll.l-container
      img.mouse-scroll__icon(src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Footer Section
    include ../includes/footer.pug
