extends ../template.pug
append variables
  - pageTitle       = 'Portafolio'
  - metaDescription = 'Hemos participado en la creación e implementación de tecnologías de la información y marketing digital en los diferentes sectores políticos, empresariales, educativos y de salud en México.'
  - ogTitle         = 'Portafolio'
  - ogDescription   = 'Hemos participado en la creación e implementación de tecnologías de la información y marketing digital en los diferentes sectores políticos, empresariales, educativos y de salud en México.'
  - ogUrl           = 'https://erwcode.com'
  - ogImage         = 'https://erwcode.com/assets/images/portafolio.jpg'

block body

  //- Footer Section
    include ../includes/footer.pug
