extends ../template.pug
append variables
  - pageTitle       = 'Servicios'
  - metaDescription = 'Conecta y Trasciende con tus clientes implementando tecnolog칤a y marketing digital en tu empresa.'
  - metaKeywords    = 'P치ginas web en Tehuac치n, Manejo de redes sociales, Desarrollo de Software, Agencia de Marketing en Puebla, Servicios de p치ginas web rn tehuac치n'

block body
  //- Hero Image
  section.hero-image
    .hero-image__vector
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-image__title.hero-image__title--services Nuestros Servicios 游녧 #[br] #[span.txt-type(data-wait="2000", data-words='["Dise침o UI/UX", "Desarrollo Web", "Auditor칤a SEO", "Consultor칤a SEM", "Community Manager"]')]
        a.hero-image__btn(href="#") Iniciar Proyecto
      .hero-image__item
        img.hero-image__illustration(src="./assets/images/team.svg", alt="Servicios de ErwCode")
    .mouse-scroll.l-container
      img.mouse-scroll__icon(src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Workflow Section
  section.skills.l-container

    h2.workflow__title Nuestras Habilidades
    h3.workflow__subtitle Tecnolog칤as y herramientas que dominamos
    .skills__container
      .skills__item
        img.skills__logo(src="./assets/images/html.svg", alt="HTML")
      .skills__item
        img.skills__logo(src="./assets/images/css.svg", alt="CSS")
      .skills__item
        img.skills__logo(src="./assets/images/js.svg", alt="JavaScript")
      .skills__item
        img.skills__logo(src="./assets/images/php.svg", alt="PHP")
      .skills__item
        img.skills__logo(src="./assets/images/laravel.svg", alt="Laravel")
      .skills__item
        img.skills__logo(src="./assets/images/composer.svg", alt="Composer")
      .skills__item
        img.skills__logo(src="./assets/images/mysql.svg", alt="MySQL")
      .skills__item
        img.skills__logo(src="./assets/images/mongodb.svg", alt="MongoDB")
      .skills__item
        img.skills__logo(src="./assets/images/postgresql.svg", alt="PostgreSQL")
      .skills__item
        img.skills__logo(src="./assets/images/sqlite.svg", alt="SQLite")
      .skills__item
        img.skills__logo(src="./assets/images/nodejs.svg", alt="NodeJS")
      .skills__item
        img.skills__logo(src="./assets/images/docker.svg", alt="Docker")
      .skills__item
        img.skills__logo(src="./assets/images/git.svg", alt="Git")
      .skills__item
        img.skills__logo(src="./assets/images/pug.svg", alt="PUG")
      .skills__item
        img.skills__logo(src="./assets/images/sass.svg", alt="SASS")
      .skills__item
        img.skills__logo(src="./assets/images/webpack.svg", alt="Webpack")
      .skills__item
        img.skills__logo(src="./assets/images/react.svg", alt="React")
      .skills__item
        img.skills__logo(src="./assets/images/vue.svg", alt="Vue")
      .skills__item
        img.skills__logo(src="./assets/images/angular.svg", alt="Angular")
      .skills__item
        img.skills__logo(src="./assets/images/android.svg", alt="Android")
      .skills__item
        img.skills__logo(src="./assets/images/materialize.svg", alt="Materialize")
      .skills__item
        img.skills__logo(src="./assets/images/bootstrap.svg", alt="Bootstrap")
      .skills__item
        img.skills__logo(src="./assets/images/python.svg", alt="Python")
      .skills__item
        img.skills__logo(src="./assets/images/figma.svg", alt="Figma")
      .skills__item
        img.skills__logo(src="./assets/images/xd.svg", alt="Adobe XD")
      .skills__item
        img.skills__logo(src="./assets/images/psd.svg", alt="Adobe Photoshop")
      .skills__item
        img.skills__logo(src="./assets/images/ai.svg", alt="Adobe Illustrator")
      .skills__item
        img.skills__logo(src="./assets/images/ads.svg", alt="Google Ads")
      .skills__item
        img.skills__logo(src="./assets/images/analytics.svg", alt="Google Analytics")
      .skills__item
        img.skills__logo(src="./assets/images/hotjar.svg", alt="Hotjar")

    h2.workflow__title Nos apasiona aprender nuevas cosas
    h3.workflow__subtitle Pr칩ximamente
    .skills__comingsoon
      .skills__item
        img.skills__logo(src="./assets/images/aws.svg", alt="Amazon Web Services")
      .skills__item
        img.skills__logo(src="./assets/images/cloud.svg", alt="Google Cloud")
      .skills__item
        img.skills__logo(src="./assets/images/azure.svg", alt="Microsoft Azure")

  //- Newsletter Section
  include ../includes/newsletter.pug
