extends ../template.pug
append variables
  - pageTitle       = 'Servicios'
  - metaDescription = 'Conecta y Trasciende con tus clientes implementando tecnolog칤as modernas y marketing digital en tu empresa.'
  - metaKeywords    = 'P치ginas web en Tehuac치n, Manejo de redes sociales, Desarrollo de Software, Agencia de Marketing en Puebla, Servicios de p치ginas web en tehuac치n, Desarrollo de aplicaciones'
  - ogTitle         = 'Servicios'
  - ogDescription   = 'Conecta y Trasciende con tus clientes implementando tecnolog칤as modernas y marketing digital en tu empresa.'
  - ogUrl           = 'https://erwcode.com/servicios.html'
  - ogImage         = 'https://erwcode.com/assets/images/erwcode.jpg'

block body
  //- Hero Image
  section.hero-image
    .hero-image__vector
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-image__title.hero-image__title--services Nuestros Servicios 游녧 #[br] #[span.txt-type(data-wait="2000", data-words='["Dise침o UI/UX", "Desarrollo Web", "Auditor칤a SEO", "Consultor칤a SEM", "Community Manager"]')]
        a.hero-image__btn(href="#") Iniciar Proyecto
      .hero-image__item
        img.hero-image__illustration(src="./assets/images/team.svg", alt="Servicios de ErwCode")
    .mouse-scroll.l-container
      img(class="mouse-scroll__icon", loading="lazy", src="./assets/images/mouse.svg", alt="Mouse Scroll")

  //- Workflow Section
  section.skills.l-container
    h2.workflow__title Nuestras Habilidades
    span.workflow__subtitle Tecnolog칤as y herramientas que dominamos
    .skills__container
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/html.svg", alt="HTML")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/css.svg", alt="CSS")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/js.svg", alt="JavaScript")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/php.svg", alt="PHP")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/laravel.svg", alt="Laravel")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/composer.svg", alt="Composer")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/mysql.svg", alt="MySQL")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/mongodb.svg", alt="MongoDB")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/postgresql.svg", alt="PostgreSQL")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/sqlite.svg", alt="SQLite")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/nodejs.svg", alt="NodeJS")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/docker.svg", alt="Docker")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/git.svg", alt="Git")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/pug.svg", alt="PUG")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/sass.svg", alt="SASS")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/webpack.svg", alt="Webpack")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/react.svg", alt="React")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/vue.svg", alt="Vue")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/angular.svg", alt="Angular")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/android.svg", alt="Android")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/materialize.svg", alt="Materialize")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/bootstrap.svg", alt="Bootstrap")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/python.svg", alt="Python")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/figma.svg", alt="Figma")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/xd.svg", alt="Adobe XD")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/psd.svg", alt="Adobe Photoshop")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/ai.svg", alt="Adobe Illustrator")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/ads.svg", alt="Google Ads")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/analytics.svg", alt="Google Analytics")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/hotjar.svg", alt="Hotjar")

    h3.workflow__title Nos apasiona aprender nuevas cosas
    span.workflow__subtitle Pr칩ximamente
    .skills__comingsoon
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/aws.svg", alt="Amazon Web Services")
      .skills__item
        img(class="skills__logo", loading="lazy", src="./assets/images/cloud.svg", alt="Google Cloud")

  //- Newsletter Section
  include ../includes/newsletter.pug

  //- Main Services Section
  section.main-service
    h2.workflow__title Descrubre nuestros servicios
    span.workflow__subtitle Tecnolog칤as de la Informaci칩n y Marketing Digital para tu empresa
    .main-service__container.l-container
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/auditoria-seo.svg", alt="Audito칤a SEO")
        a.main-service__link(href="#"): h3.main-service__name Audito칤a SEO
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/branding-corporativo.svg", alt="Branding Corporativo")
        a.main-service__link(href="#"): h3.main-service__name Branding Corporativo
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/community-manager.svg", alt="Community Manager")
        a.main-service__link(href="#"): h3.main-service__name Community Manager
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/consultoria-sem.svg", alt="Consultor칤a SEM")
        a.main-service__link(href="#"): h3.main-service__name Consultor칤a SEM
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/desarrollo-apps-moviles.svg", alt="Desarrollo de Aplicaciones M칩viles")
        a.main-service__link(href="#"): h3.main-service__name Desarrollo de Aplicaciones M칩viles
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/desarrollo-apps-web.svg", alt="Desarrollo de Aplicaciones Web")
        a.main-service__link(href="#"): h3.main-service__name Desarrollo de Aplicaciones Web
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/desarrollo-web.svg", alt="Desarrollo Web")
        a.main-service__link(href="#"): h3.main-service__name Desarrollo Web
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/ui-ux.svg", alt="Dise침o UI/UX")
        a.main-service__link(href="#"): h3.main-service__name Dise침o UI/UX
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/ecommerce.svg", alt="e-Commerce")
        a.main-service__link(href="#"): h3.main-service__name e-Commerce
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/elearning.svg", alt="e-Learning")
        a.main-service__link(href="#"): h3.main-service__name e-Learning
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/email-marketing.svg", alt="Email Marketing")
        a.main-service__link(href="#"): h3.main-service__name Email Marketing
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/facebook-ads.svg", alt="Facebook Ads")
        a.main-service__link(href="#"): h3.main-service__name Facebook Ads
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/google-ads.svg", alt="Google Ads")
        a.main-service__link(href="#"): h3.main-service__name Google Ads
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/instagram-ads.svg", alt="Instagram Ads")
        a.main-service__link(href="#"): h3.main-service__name Instagram Ads
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/landing-page.svg", alt="Landing Page")
        a.main-service__link(href="#"): h3.main-service__name Landing Page
      article.main-service__item
        img(class="main-service__icon", loading="lazy", src="./assets/images/posicionamiento-seo.svg", alt="Posicionamiento SEO")
        a.main-service__link(href="#"): h3.main-service__name Posicionamiento SEO

  //- Customer Comments Section
  include ../includes/comments.pug

  //- Customers Logo
  include ../includes/customer.pug
