extends ../template.pug
append variables
  - pageTitle       = 'Servicios'
  - metaDescription = 'Conecta y Trasciende con tus clientes implementando tecnologías de la información y marketing digital.'
  - metaKeywords    = 'Páginas web en Tehuacán, Manejo de redes sociales, Desarrollo de Software, Agencia de Marketing en Puebla, Servicios de páginas web rn tehuacán'
