extends ../template.pug
append variables
  - pageTitle       = 'Servicios'
  - metaDescription = 'Conecta y Trasciende con tus clientes implementando tecnolog칤a y marketing digital en tu empresa.'
  - metaKeywords    = 'P치ginas web en Tehuac치n, Manejo de redes sociales, Desarrollo de Software, Agencia de Marketing en Puebla, Servicios de p치ginas web rn tehuac치n'

block body
  //- Hero Image
  section.hero-image
    .hero-image__vector
    .hero-image__container.l-container
      .hero-image__item
        h1.hero-image__title.hero-image__title--services Nuestros Servicios 游녧 #[br] #[span.txt-type(data-wait="2000", data-words='["Dise침o UI/UX", "Desarrollo Web", "Auditor칤a SEO", "Consultor칤a SEM", "Community Manager"]')]
        a.hero-image__btn(href="#") Iniciar Proyecto
      .hero-image__item
        img.hero-image__illustration(src="./assets/images/team.svg", alt="Servicios de ErwCode")
    .mouse-scroll.l-container
      img.mouse-scroll__icon(src="./assets/images/mouse.svg", alt="Mouse Scroll")
