# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:erwcode.com
RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://erwcode.com%{REQUEST_URI} [L,NE,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:erwcode.com
